.topHeader {
  display: flex;
  justify-content: space-between;
 
}
.topHeader button {
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}
.topHeader button span,
.topHeader button svg {
  margin: auto;
}
.topHeader a {
  color: #f1f6f9;
}
.topHeader .button {
  display: flex;
  padding: 8px 20px;

  border: 2px solid #f1f6f9;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: #f1f6f9;
  z-index: 1;
  gap: 0.1em;
  background-color: #394867;
}

.topHeader .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.topHeader .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #394867;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.topHeader .button:hover {
  color: #394867;
  border: 2px solid #f1f6f9;
}

.topHeader .button:hover:before {
  top: -35%;
  background-color: #f1f6f9;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.topHeader.button:hover:after {
  top: -45%;
  background-color: #394867;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.topHeader .openSideBar {
  display: none;

  margin-right: 5px;
  color: #f1f6f9;
  background-color: transparent;
  border: none;
}
@media screen and (max-width:800px) {
  .topHeader  .openSideBar {
    display: flex;
  }
}
