.dialog {
  display: flex;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
border: none;
  justify-content: center;
  align-items: center;
}
.content h3{
  user-select: none;
}
.content {
  background-color: #394867;
  color: #eeeeee;
  padding: 30px 30px;
  position: relative;
  border-radius: 12px;
}
.close {
  position: absolute;
  right: 0.8em;
  top: 0.8em;
}
.content fieldset {
  border: none;
  margin: 25px auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.2em;
user-select: none;
}
.content input[type="text"],
.content textarea {
  outline:none;
  padding: 10px;
  border-radius: 12px;
  border: none;

}
.content textarea{
width: 100%;
max-width: 100%;
}
.content button {
  cursor: pointer;
  border: 0;
  padding: 0.5em 0.7em;
}

